body {
  padding: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

.card {
    background-color: #fff;
    margin: 2em 0;
    padding: 1em;
    position: relative;
}

.card img {
  max-width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0.2em 0;
    padding: 0.5em;
}

.comment {
    margin-left: 1em;
    border-bottom: 1px solid grey;
}


.labels {
  position: absolute;
  top: 0px;
  left: 0px;
}

.labels span {
  width: 50px;
  height: 2px;
  display: inline-block;
}


/*.label-'green', 'yellow', 'orange', 'red', 'purple', 'blue'*/
.label-green {
  border-top: 2px solid green;
}

.label-yellow {
  border-top: 2px solid yellow;
}

.label-orange {
  border-top: 2px solid orange;
}

.label-red {
  border-top: 2px solid red;
}

.label-purple {
  border-top: 2px solid purple;
}

.label-blue {
  border-top: 2px solid blue;
}

/* custom label name / color? '.label-' + name + color is your class name to target */

/*// example label to class */
.label-special1pink {
  font-size: 2em;
  color: white;
  background-color: #B5B5B5;
  margin: 0;
  width: 50%;
}